{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}


{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <div>

        <form action="" method="post" name="input">

            Name:
            <input name="name" placeholder="name" type="text" />
            <input name="exp" placeholder="experience" type="text" />
            <input name="phone_number" placeholder="phone number" type="text" />
            <input name="submit" type="submit" value="Submit" />

         </form>

    </div>

    <table width="50%" cellspacing="0" cellpadding="4" border="1">
        <caption>Информация о персонале</caption>
        <tr>
            <th>ФИО</th>
            <th>Стаж в сфере отделочных услуг</th>
            <th>Оклад</th>
            <th>Номер телефона</th>
        </tr>
        <tr><td>Сатыбалдыев Тилек Рысбаевич</td><td>1год</td><td>$1000</td><td>+996000000</td></tr>
        <tr><td>Эгембердиев Элдияр Аманбекович</td><td>6лет</td><td>$6000</td><td>+996123432</td></tr>
        {#{% for key,value in button_list %}#}
            <tr><td>{{ name }}</td><td>{{ exp }}</td><td>${{ salary }}</td><td>{{ phone }}</td></tr>
        {#{% endfor %}#}
    </table>
{% endblock %}


